.Button {
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    display: inline-block;
    padding: .25rem .5rem;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    border: 1px solid transparent;
    border-radius: .375rem;
    color: #ffffff;
    border-color: #2c7be5;
    background-color: #2c7be5;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.Button:hover {
    border-color: #175dba;
    background-color: #1862c6;
}

.Button + .Button:last-child {
    margin-left: .25rem;
}